rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /registrations/{registrationId} {
      // Allow anyone to submit a registration form
      allow create, read: if true;
      // Admins will likely use a different environment or service account to read data
      allow update, delete: if false;
    }
  }
}
